---
import Layout from '../layouts/Layout.astro';
---

<div class="menu">
  <a href="#about" id="menu-about"><span>Who am I?</span></a>
  <a href="#work" id="menu-work"><span>Work</span></a>
  <a href="#projects" id="menu-projects"><span>Projects</span></a>
  <a href="#contact" id="menu-contact"><span>Contact me</span></a>
</div>

<div class="tagline">@Minion3665: <span id="tagline"/></div>

<div class="background-container"><div class="background" id="menu-background" /></div>

<style>
html,body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #000000;
  color: white;
}

.background-container {
  width: 100%;
  height: 100%;

  overflow: hidden;

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.background {
  background-image: radial-gradient(#FCEBC750 20%, transparent 25%);
  background-position: 0 0, 15px 15px;
  background-size: 15px 15px;

  width: 150%;
  height: 100%;

  transform: translateX(0%);
  transition: transform 1s;
}

.menu > a > span {
  background: black;
  height: 100%;
  padding: 10px 20px;
}

.menu > a {
  text-decoration: underline #ffffff00;
  color: white;

  display: block;

  font-size: min(3em, 8vmin);
  padding: 10px 20px;

  transition: text-decoration-color 0.3s;
}

.menu > a:hover {
  text-decoration: underline;
}

.menu {
  margin-top: 20px;
  position: absolute;
  padding: 10px;
  width: calc(50% - 20px);
  z-index: 100;
}

.tagline {
  margin: 10px 20px;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;

  background: black;
  z-index: 50;
  color: lightgrey;
}
</style>

<script>

const background = document.getElementById(`menu-background`);
const menuHover = (index) => {
  return (event) => {
    background.style.transform = `translateX(-${index * 5}%)`;
  }
}

const menuLinks = ["about", "work", "projects", "contact"];

for (const [index, link] of menuLinks.entries()) {
  document.getElementById(`menu-${link}`).addEventListener("mouseover",
    menuHover(index));
}
</script>

<script>
const taglines = [
  "Trans rights!",
  "Cool stuff on the internet",
  "Also on GitHub",
  "Certified tutorial hell survivor",
  "Now with no dependency conflicts",
  "As it is...",
  "Maths, Further Maths, Computer Science and Business Studies",
  "Are you surprised?",
  "Clicks Minion Per",
  "Also available in red",
  "*Sips tea and writes code*",
  "Made with Astro",
  "Made with tea",
  "And you thought there was never a girl online...",
  "Send me splash texts to fight the birthday problem",
  "bPaNnxe",
  "It'll be fiiiiiiiine",
  "Living in the Grey area",
];

const tagline = taglines[Math.floor(Math.random() * taglines.length)];

document.getElementById('tagline').innerText = tagline;
</script>
